<%= provide(:title, 'for Skype - Signup Complete') %>
<div id="skype-header" class="row span6 offset3">

<h1>Static pages</h1>
<h2>Signup Confirmed!</h2>

</div>
<div class="row">
<div class="span6 offset3 temp-skype">
<p>Thank you. Please check your email for additional instructions.</p>
	</div>
</div>


