<%= provide(:title, 'Company Creation') %>
<div id="skype-header" class="row span6 offset3">
<!--h1>PalmLing Distribution Portal</h1-->
<h2>Enter company information</h2>
<!--p>Thank you for your interest in PalmLing! Please complete the form below to get started.
</p-->
</div>

