<%= provide(:title, 'Company Show Page') %>
<div id="skype-header" class="row span6 offset3">
<!--h1>PalmLing for Skype</h1>
<h2>Step 2 - Select a Plan</h2-->
<p>Hi <span class="skype-name"> <%= @company.name %></span>, <br/><!-- Thank you for signing up for PalmLing for Skype! <br />  To get started, please select a plan that fits your needs. -->
Click <%= link_to 'here', register_company_path %> to register
</p>